body{
    margin: auto;
    padding: 0%;
}
nav{
    color: rgb(221, 217, 217);
    background-color: black;
    margin: 20px;
    padding: 8px;
}
ul{
    display: flex;
}
li{
    padding: 30px;
    font-size: larger;
}
.containers{
    background-color: rgb(78, 137, 137);
    color: black;
    font-size: xx-large;
    margin: 20px;
}
.card{
    margin-left: auto;
}